@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #262626;
  font-size: 1rem;

  main {
    article {
      width: 1000px;
      margin: 5rem auto;
      padding: 5rem 0 0;
      display: flex;
      justify-content: space-between;

      .feeds {
        width: 600px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;

        .feeds-head {
          padding: 1rem;
          position: relative;
          background: white;

          .feeds-head-left {
            display: flex;

            .feeds-head-img {
              width: 45px;
              height: 45px;
              margin-right: 1rem;
              background: url(https://i.ibb.co/dWQYNGy/image-1614332117269-2500.jpg)
                no-repeat;
              background-size: cover;
              background-position: center;
              border-radius: 100%;
              cursor: pointer;
            }

            .feeds-head-name {
              position: relative;

              p {
                font-size: 1.3rem;
                font-weight: bold;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
              }
            }
          }

          .feeds-head-right {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            cursor: pointer;

            img {
              width: 100%;
              opacity: 60%;
              transition: 0.3s;

              &:hover img {
                opacity: 100%;
              }
            }
          }
        }
      }

      .feeds-img {
        height: 600px;
        background: url(https://i.ibb.co/GpTWT5p/3442-F17-D-6-D68-4-B9-E-A028-CFB8-B3115794.jpg)
          no-repeat;
        background-size: cover;
        background-position: center;
      }

      .feeds-img-nav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        background: white;

        .img-nav-wrapper {
          display: flex;
          justify-content: space-between;

          div {
            cursor: pointer;
          }

          .heart,
          .bubble {
            margin-right: 1rem;
          }

          i {
            font-size: 1.5rem;
          }
        }
      }

      .feeds-img-re {
        padding: 0 1rem;
        background: white;

        .feeds-img-like {
          display: flex;

          .like-img {
            width: 33px;
            height: 33px;
            margin-right: 0.5rem;
            border-radius: 100%;
            background: url(https://i.ibb.co/crfJVyL/033-ED58-C-459-A-4-A1-C-B7-F0-8037-CEF774-F1.jpg)
              no-repeat;
            background-size: cover;
            background-position: center;
          }

          .like-img-ex p {
            margin-right: 0.5rem;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            a {
              &:link,
              &:visited {
                font-weight: bold;
                color: #262626;
                text-decoration: none;
              }
            }
          }
        }
      }

      .feeds-commit {
        padding: 1rem;
        background-color: white;

        & > :first-child {
          margin-bottom: 0.3rem;

          a {
            &:link,
            &:visited {
              font-weight: bold;
              color: #262626;
              text-decoration: none;
            }
          }

          span {
            color: #bababa;
          }
        }

        ul {
          list-style: none;

          li {
            margin-bottom: 0.3rem;
            position: relative;

            .name {
              font-weight: bold;

              &:link,
              &:visited {
                color: #262626;
              }
            }

            .delete {
              font-size: 1.3rem;
              position: absolute;
              right: 0;
              color: #bababa;
              cursor: pointer;
            }
          }
        }

        & > :last-child {
          color: #bababa;
        }
      }

      #comment {
        position: relative;
        background: white;
        border-top: 1px solid #e6e6e6;

        input {
          width: 100%;
          padding: 1rem;
          font-size: 1rem;
          border: none;

          &::placeholder {
            color: #bababa;
            font-size: 1rem;
          }
        }

        button {
          padding: 1rem;
          background: white;
          color: #c4e1fb;
          border: none;
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
          cursor: pointer;

          &:hover {
            color: #0096f6;
          }
        }
      }

      #side {
        width: 368px;

        .side-account {
          margin-bottom: 1rem;
          display: flex;
          cursor: pointer;

          .account-img {
            width: 60px;
            height: 60px;
            margin-right: 1rem;
            border-radius: 100%;
            background: url(https://pbs.twimg.com/profile_images/1109389733912666112/XX55fTPf.jpg)
              no-repeat;
            background-size: cover;
            background-position: center;
          }

          .account-img-ex {
            position: relative;

            div {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);

              & > :first-child {
                margin-bottom: 0.3rem;
                font-weight: bold;
              }

              & > :last-child {
                color: #bababa;

                span {
                  &:before {
                    content: '︱';
                  }
                }
              }
            }
          }
        }

        .side-story {
          height: 230px;
          padding: 1rem;
          margin-bottom: 1rem;
          background: #fff;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          overflow: scroll;

          .side-navi {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;

            p {
              color: #bababa;
            }

            div {
              font-weight: bold;
            }
          }

          .story {
            display: flex;
            cursor: pointer;

            .story-img {
              width: 40px;
              height: 40px;
              margin-right: 1rem;
              border: 2px solid transparent;
              background-image: linear-gradient(#fff, #fff),
                linear-gradient(to left, #ce54a3, #f3733f, #fcd2af);
              background-origin: border-box;
              background-clip: content-box, border-box;
              border-radius: 100%;
              position: relative;

              div {
                width: 33px;
                height: 33px;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .story-img-ex {
              & > :first-child {
                margin-bottom: 0.3rem;
                font-weight: bold;
              }

              & > :last-child {
                color: #bababa;
              }
            }
          }

          div {
            margin-bottom: 0.3rem;
          }

          & > :last-child {
            margin: 0;
          }

          & > :nth-child(2) .story-img div,
          & > :nth-child(5) .story-img div {
            background: url(https://images.unsplash.com/photo-1490138139357-fc819d02e344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)
              no-repeat;
            background-size: cover;
            background-position: center;
          }

          & > :nth-child(3) .story-img div,
          & > :nth-child(6) .story-img div {
            background: url(https://images.unsplash.com/photo-1503919545889-aef636e10ad4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
              no-repeat;
            background-size: cover;
            background-position: center;
          }

          & > :nth-child(4) .story-img div,
          & > :nth-child(7) .story-img div {
            background: url(https://images.unsplash.com/photo-1499540785729-ac6adfa4efbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)
              no-repeat;
            background-size: cover;
            background-position: center;
          }
        }

        .side-pick {
          padding: 1rem;
          margin-bottom: 1rem;
          background: #fff;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          position: relative;

          .side-navi {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;

            p {
              color: #bababa;
            }

            div {
              font-weight: bold;
            }
          }

          & > :nth-child(2) {
            margin-bottom: 1rem;

            .suggestion-left-img {
              background: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
                no-repeat;
              background-size: cover;
              background-position: center;
            }
          }

          & > :nth-child(3) {
            margin-bottom: 1rem;

            .suggestion-left-img {
              background: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80)
                no-repeat;
              background-size: cover;
              background-position: center;
            }
          }

          & > :nth-child(4) {
            .suggestion-left-img {
              background: url(https://images.unsplash.com/photo-1503185912284-5271ff81b9a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80)
                no-repeat;
              background-size: cover;
              background-position: center;
            }
          }

          .suggestion {
            display: flex;
            position: relative;

            .suggestion-left {
              display: flex;

              .suggestion-left-img {
                width: 40px;
                height: 40px;
                margin-right: 1rem;
                border-radius: 100%;
              }

              .left-img-ex {
                & > :first-child {
                  margin-bottom: 0.3rem;
                  font-weight: bold;
                }

                & > :last-child {
                  color: #bababa;
                }
              }
            }

            button {
              padding: 1rem 0 1rem 1rem;
              color: #0096f6;
              font-size: 1rem;
              font-weight: bold;
              background: none;
              border: 0;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }

        footer {
          color: #bababa;

          ul {
            list-style: none;
            display: flex;
            line-height: 1.3rem;

            li {
              &::after {
                content: '‧';
                padding: 0.1rem;
              }
            }
          }

          & > :nth-child(3) {
            & > :last-child {
              &::after {
                display: none;
              }
            }
          }

          p {
            margin-top: 1rem;
          }
        }
      }
    }

    /*
  @media screen and (max-width: 1366px) {
    .basic-navi {
      width: 85%;
    }

    .basic-middle {
      width: 200px;
    }

    .basic-middle input::placeholder {
      text-align: center;
    }

    .basic-right > :nth-child(1),
    .basic-right > :nth-child(2) {
      margin-right: 1rem;
    }

    main article {
      width: 85%;
    }

    .feeds {
      width: 100%;
    }

    #side {
      display: none;
    }
  }
  */
  }
}
