body {
  color: black;
}

.main {
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: #666;
  }
  a:hover {
    color: none;
  }
  a:active {
    color: none;
  }

  article {
    width: 1200px;
    height: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;

    .peedleft {
      width: 66%;
      border: 1px solid #e6e6e6;
      margin-top: 80px;
    }

    .topimg {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    .toplogo {
      display: flex;
    }

    .memberid {
      span {
        margin-top: 15px;
        margin-left: 15px;
        color: black;
        display: block;
        font-weight: 800;
      }
    }

    .fa-ellipsis-h {
      color: black;
      font-size: 1rem;
      margin-top: 15px;
    }

    .peedimg {
      width: 100%;
      height: 750px;
      background: url(https://i.ibb.co/Np3sttL/10209-D38-C65-C-4-CEC-B871-43459-D788-A06.jpg)
        no-repeat;
      background-size: cover;
      background-position: 100%;
    }

    .peedundericons {
      display: flex;
      padding: 10px 0px;
    }

    .underleft {
      width: 96%;
      display: flex;
      padding-left: 3px;

      span {
        display: block;
        font-size: 1.5rem;
        margin-left: 13px;
        color: rgb(145, 145, 145);
      }
    }

    .underight {
      a {
        display: block;
        font-size: 1.2rem;
        color: srgb(145, 145, 145);
      }
    }

    .fa-heart {
      color: red;
    }

    .fa-comment {
      transform: rotateY(180deg);
    }
    .underight {
      font-size: 1.4rem;
      color: silver;
    }

    .likesleft {
      display: flex;
      padding: 0 15px;
      margin-bottom: 0.5rem;

      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }

      p {
        padding-top: 5px;
        margin-left: 8px;
        font-weight: normal;

        span {
          font-weight: 800;
          font-size: 0.9rem;
        }

        div {
          color: black;
          font-weight: 800;
        }
      }
    }

    .peedtext {
      padding-left: 17px;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px;
    }

    .canon {
      margin-bottom: 3px;
      color: black;
      font-weight: normal;
      display: flex;

      &:first-child div {
        font-weight: 800;
        margin-right: 10px;
      }

      span {
        color: rgb(145, 145, 145);
        font-weight: normal;
        margin-left: 10px;
      }
    }

    .id2flexbox {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      p {
        width: 96%;
        display: flex;

        &:first-child div {
          font-weight: 800;
          margin-right: 14px;
        }
      }
      & > :nth-child(2) {
        i {
          color: silver;
        }
      }
    }

    .minit {
      div {
        color: rgb(153, 153, 153);
        font-weight: normal;
      }
    }

    .comment {
      width: 100%;
      position: relative;
      input {
        width: 90%;
        border: none;
        padding: 20px 0;
        padding-left: 15px;
        &:focus {
          outline: none;
        }
      }
    }

    .upload {
      padding: 15px 15px;
      border: none;
      font-size: 0.8rem;
      position: absolute;
      color: rgba(113, 147, 238, 0.747);
      background-color: white;
      right: 0px;
      top: 6px;

      &:hover {
        background-color: none;
        color: rgba(113, 147, 238, 0.747);
      }
    }

    #commentLists {
      margin-top: 0.6rem;
      margin-bottom: 0.7rem;
      li {
        width: 100%;
        margin-bottom: 0.3rem;
        position: relative;
        color: black;
      }
    }

    .delete {
      cursor: pointer;
      position: absolute;
      right: 19px;
    }

    .name {
      padding-right: 0.6rem;
      color: black;
      font-weight: bold;
    }

    .side-right {
      width: 368px;
      margin-top: 5.3rem;
    }

    .side-container {
      margin-bottom: 1rem;
      display: flex;
      cursor: pointer;
      & > :first-child {
        width: 60px;
        height: 60px;
        margin-right: 1rem;
        border-radius: 100%;
        background: url(https://pbs.twimg.com/profile_images/1109389733912666112/XX55fTPf.jpg)
          no-repeat;
        background-size: cover;
        background-position: center;
      }
      & > :last-child {
        position: relative;
        div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          & > :first-child {
            margin-bottom: 0.3rem;
            font-weight: bold;
          }
          & > :last-child {
            color: #bababa;
            span {
              &:before {
                content: '┃';
              }
            }
          }
        }
      }
    }

    .side-story {
      padding: 1rem;
      margin-bottom: 1rem;
      background: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      height: 258px;
      overflow-y: hidden;
    }

    .side-navigation {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      p {
        color: #bababa;
      }
    }

    .see-all {
      color: rgb(73, 73, 73);
      font-weight: 760;
    }

    .story {
      display: flex;
      & > :first-child {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        border: 2px solid #e56c9f;
        border-radius: 100%;
      }
    }

    .side-story > :nth-child(2),
    .side-story > :nth-child(3),
    .side-story > :nth-child(4) {
      margin-bottom: 0.8rem;
    }

    .story-text {
      margin-top: 5px;
    }

    .story-img-one {
      background: url(https://images.unsplash.com/photo-1519764622345-23439dd774f7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym95c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: top;
    }

    .story-img-two {
      background: url(https://media.istockphoto.com/photos/teen-girl-after-her-vaccination-picture-id1311564458?b=1&k=20&m=1311564458&s=170667a&w=0&h=fK1QViaweFI1OlHtQ6G3S4VrrrMK2lMDrZK-d6yTGms=)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .story-img-three {
      background: url(https://images.unsplash.com/photo-1554230505-919a13968970?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .story-img-four {
      background: url(https://images.unsplash.com/photo-1524601500432-1e1a4c71d692?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z2lybHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .bold {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .color {
      color: #bababa;
    }

    .side-pick {
      padding: 1rem;
      margin-bottom: 1rem;
      background: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      position: relative;
    }

    .side-pick > :nth-child(2),
    .side-pick > :nth-child(3) {
      margin-bottom: 0.3rem;
    }

    .side-wrap {
      display: flex;
      position: relative;
      & > :first-child {
        & > :last-child {
          & > :first-child {
            margin-bottom: 0.3rem;
            font-weight: bold;
          }
          & > :last-child {
            color: #bababa;
          }
        }
      }
      & > :last-child {
        padding: 1.5rem 0 1rem 1rem;
        color: #2398ff;
        background: none;
        position: absolute;
        right: 0;
        border: none;
        font-size: 0.9rem;
        font-weight: 700;
      }
    }

    .sidewraps {
      display: flex;
      & > :last-child {
        margin-top: 1rem;
      }
    }

    .side-img {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      border-radius: 100%;
      margin-top: 8px;
    }

    .side-wrap-img1 {
      background: url(https://images.unsplash.com/photo-1502307100811-6bdc0981a85b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym95c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .side-wrap-img2 {
      background: url(https://images.unsplash.com/photo-1613852348851-df1739db8201?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJveXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .side-wrap-img3 {
      background: url(https://images.unsplash.com/photo-1500336624523-d727130c3328?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdpcmxzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
        no-repeat;
      background-size: cover;
      background-position: center;
    }

    .footer-wrapper {
      p {
        color: #acacac;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }
    }
  }
}
